* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/*********************************************Navbar and Header*************************************************/

.navbar-brand {
    color: black !important;
}

.nav-link {
    color: black !important;
}


.fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 500ms linear;
}

.embed-responsive {
    width: 65% !important;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
}