* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/*********************************************Navbar and Header*************************************************/

.navbar-brand {
    color: black !important;
}

.nav-link {
    color: black !important;
}


.fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 500ms linear;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
}

@media only screen and (max-width: 700px) {
    .videoWrapper iframe {
        position: absolute;
        top: 50%;
        left: 25%;
        width: 50%;
        height: 50%;
    }
}